<!DOCTYPE html>
<!--
    Copyright (c) 2012-2014 Adobe Systems Incorporated. All rights reserved.

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html lang="en" ng-app="app">

<head>

    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <!--    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />-->

    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="lib/jquery/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />

    <style>
        .page--menu-page__background {
            background-color: #333;
        }
        
        .page--menu-page__content {
            color: white;
        }
        
        .menu-close,
        .menu-close > .toolbar-button {
            color: #999;
        }
        
        .menu-list,
        .menu-item:first-child,
        .menu-item:last-child,
        .menu-item {
            background-color: transparent;
            background-image: none !important;
            border-color: transparent;
            color: #fff;
        }
        
        .menu-item {
            padding: 0 0 0 20px;
            line-height: 52px;
            height: 52px;
            text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
        }
        
        .menu-item:active {
            background-color: rgba(255, 255, 255, 0.1);
        }
        
        .menu-notification {
            display: inline-block;
            margin-top: 12px;
            font-size: 14px;
            height: 16px;
            line-height: 16px;
            min-width: 16px;
            font-weight: 600;
        }
        
        .bottom-menu-list,
        .bottom-menu-item:first-child,
        .bottom-menu-item:last-child,
        .bottom-menu-item {
            border-color: #393939;
            background-color: transparent;
            background-image: none !important;
            color: #ccc;
        }
        
        .bottom-menu-item:active {
            background-color: rgba(255, 255, 255, 0.1);
        }
        
        .mainContentList {
            margin: 20px 10px 10px 10px;
        }
        
        .mainContentListItem {
            padding: 10px;
        }
        
        .inputFieldFull {
            width: 100%;
        }
        
        .selectBox {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            height:30px;
        }
        
        .bottom-btn {
            margin-top: 30px;
        }
        
        #addBtnContainer {
            padding: 0px 10px 10px 10px;
        }
        
    </style>

    <title>Madsleuth</title>

    <script>
        angular.module('app', ['onsen']);
        
    </script>

</head>

<body>

    <script src="cordova.js"></script>
    <script src="SQLitePlugin.js"></script>
    <script src="js/index.js"></script>
    <script src="js/addSuspect.js"></script>

    <ons-sliding-menu
      menu-page="menu.html"
      main-page="addSuspect.html"
      side="left"
      var="menu"
      type="reveal"
      max-slide-distance="260px"
      swipeable="false">
    </ons-sliding-menu>


    <!-- MENU/DRAWER TEMPLATE
        I wanted a look & feel close to the Native Android App.
        Onsen provides really nice ui components.
        All the buttons render the same addSuspect page as there is no implementation of the
        MainActivity and SuspectSearchAndListActivity here.
    -->
    <ons-template id="menu.html">
        <ons-page modifier="menu-page">
            <ons-toolbar modifier="transparent"></ons-toolbar>
            <ons-list class="menu-list">

                <ons-list-item class="menu-item"
                               ng-click="menu.setMainPage('addSuspect.html', {closeMenu: true})">
                    <ons-icon icon="fa-home"></ons-icon>
                    Home
                </ons-list-item>

                <ons-list-item class="menu-item"
                               ng-click="menu.setMainPage('addSuspect.html', {closeMenu: true})">
                    <ons-icon icon="fa-plus-circle"></ons-icon>
                    Add new suspect
                </ons-list-item>

                <ons-list-item class="menu-item"
                               ng-click="menu.setMainPage('addSuspect.html', {closeMenu: true})">
                    <ons-icon icon="fa-search"></ons-icon>
                    Search a suspect
                </ons-list-item>

            </ons-list>
        </ons-page>
    </ons-template>



    <!-- MAIN ACTIVITY IMPLEMENTATION -->
    <ons-template id="main.html">

    </ons-template>



    <!-- ADD SUSPECT ACTIVITY IMPLEMENTATION -->
    <ons-template id="addSuspect.html">
        <ons-page>

            <!-- ActionBar/Toolbar Equivalent -->
            <ons-toolbar>
                <!-- Menu/Drawer icon -->
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon"
                                  size="36px"
                                  fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <!-- Page/Activity name -->
                <div class="center">Add a new suspect</div>
            </ons-toolbar>


            <!-- MAIN CONTENT -->
            <ons-list modifier="inset" class="mainContentList">


                <!-- Name -->
                <ons-list-item class="mainContentListItem">
                    <ons-row>
                        <ons-col>
                            <label for="sName">Name/Desc:*</label>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <input id="sName"
                               name="sName"
                               type="text"
                               class="text-input inputFieldFull" />
                    </ons-row>
                </ons-list-item>


                <!-- Identity Code -->
                <ons-list-item class="mainContentListItem">
                    <ons-row>
                        <ons-col>
                            <label for="sIdentityCode">IC Code:</label>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>
                            <select id="sIdentityCode"
                                    name="sIdentityCode"
                                    class="inputFieldFull selectBox">
                                <option selected>IC1. WhiteNorthEuropean</option>
                                <option>IC2. WhiteSouthEuropean</option>
                                <option>IC3. Black</option>
                                <option>IC4. Asian</option>
                                <option>IC5. Chinese/Japanese/SouthEastAsian</option>
                                <option>IC6. Arabic/NorthAfrican</option>
                                <option>IC9. Unknown</option>
                            </select>
                        </ons-col>
                    </ons-row>
                </ons-list-item>


                <!-- Gender -->
                <ons-list-item class="mainContentListItem">
                    <ons-row>
                        <ons-col>Gender: *</ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>
                            <label class="radio-button">
                                <input type="radio" name="sGender" value="male" />
                                <div class="radio-button__checkmark"></div>
                                Male
                            </label>
                        </ons-col>
                        <ons-col>
                            <label class="radio-button">
                                <input type="radio" name="sGender" value="female" />
                                <div class="radio-button__checkmark"></div>
                                Female
                            </label>
                        </ons-col>
                        <ons-col>
                            <label class="radio-button">
                                <input type="radio" name="sGender" value="unknown"/>
                                <div class="radio-button__checkmark"></div>
                                Unknown
                            </label>
                        </ons-col>
                    </ons-row>
                </ons-list-item>


                <!-- Height and Weight -->
                <ons-list-item class="mainContentListItem">
                    <ons-row>
                        
                        <!-- Height -->
                        <ons-col>
                            <label for="sHeight">Est. height (cm):</label>
                            <p id="sCurrentHeight">50</p>
                            <input id="sHeight"
                                   name="sHeight"
                                   type="range"
                                   class="range"
                                   min="50"
                                   max="240"
                                   step="5"
                                   value="0"
                                   onInput="AS.listener.height(this.value)" />
                        </ons-col>

                        <!-- Weight -->
                        <ons-col>
                            <label for="sWeight">Est. weight (kg):</label>
                            <p id="sCurrentWeight">30</p>
                            <input id="sWeight"
                               name="sWeight"
                               type="range"
                               class="range"
                               min="30"
                               max="250"
                               step="10"
                               value="0"
                               onInput="AS.listener.weight(this.value)" />
                        </ons-col>

                    </ons-row>
                </ons-list-item>
 
                    
                <!-- Age range -->
                <ons-list-item class="mainContentListItem">
                    <ons-row>
                        <ons-col>
                            <label for="sAgeRange">Age: *</label>
                        </ons-col>
                        <ons-col>
                            <select id="sAgeRange" name="sAgeRange" class="inputFieldFull selectBox">
                                <option selected>15-24</option>
                                <option>25-34</option>
                                <option>35-44</option>
                                <option>45-54</option>
                                <option>55-64</option>
                                <option>65+</option>
                            </select>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
                    
                
                <!-- Vehicle Desc -->
                <ons-list-item class="mainContentListItem">
                    <ons-row>
                        <ons-col>
                            <label for="sVehicleDesc">Vehicle desc:</label>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>
                            <input id="sVehicleDesc" name="sVehicleDesc" type="text" class="text-input inputFieldFull"/>
                        </ons-col>
                    </ons-row>
                </ons-list-item>

                
                <!-- Additional info -->
                <ons-list-item class="mainContentListItem">
                    <ons-row>
                        <ons-col><label for="sExtraInfo">Additional info:</label></ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>
                            <input id="sExtraInfo" name="sExtraInfo" type="text" class="text-input inputFieldFull"/>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
                    
            </ons-list>

            <div id="addBtnContainer">
                <ons-button
                    modifier="large--cta"
                    onClick="AS.addBtnEvent()">ADD</ons-button>
            </div>
            

        </ons-page>
    </ons-template>




</body>

</html>